.card{
  width: 400px;
  height: 400px;
  background-color: aqua;
  color: red;
  border: 2px solid green;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-left: 30px;
  
}

.booklist{
  display: flex;
}


